.first-menu{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
}
.first-menu ul li{
  cursor: pointer;
}
 .second-menu{
 
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 display: inline-block;
 visibility:hidden;

}

.first-menu:hover .second-menu{
  display: inline-block;
  visibility: visible;
} 
